body {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    backface-visibility: hidden;
}

#rectangle-2 {
    display: none;
}

#please-select-which {
    display: none;
}

#sports {
    display: none;
}

#rectangle-2-3 {
    display: none;
}

#rectangle-3 {
    display: none;
}

#group-2 {
    display: none;
}

#rectangle-4 {
    display: none;
}

#settings {
    display: none;
}

#maice {
    display: none;
}

#maice_logo {
    display: none;
}

#interests {
    display: none;
}

#movie {
    display: none;
}

#health {
    display: none;
}

#gadgets {
    display: none;
}

#food {
    display: none;
}

section {
    width: 100%;
    left: 0px;
    position: relative;
    overflow: visible;
}

#rectangle-2-3-section {
    display: none;
}

#interests-section {
    display: none;
}

#movie-section {
    display: none;
}

#rectangle-3-section {
    display: none;
}

#moviecheckbox {
    display: none;
}

#foodcheckbox {
    display: none;
}

#gadgetcheckbox {
    display: none;
}

#healthcheckbox {
    display: none;
}

#sportscheckbox {
    display: none;
}

#button {
    display: none;
}

@media screen and (max-width: 767px) and (min-width: 0px) {
    #button {
        display: inline-block;
        position: relative;
        margin-right: auto;
        margin-left: auto;
        width: 117px;
        height: 35px;
        z-index: 10;
        background-color: rgba(244, 255, 240, 0.5);
        border: 1px solid rgb(230, 209, 255);
        left: -116px;
        top: -2px;
    }

    #rectangle-2 {
        display: block;
        position: absolute;
        top: 19px;
        left: 15px;
        width: 385px;
        height: 527px;
        z-index: 0;
        box-shadow: rgba(109, 109, 109, 0.953) 0px 1px 4px 0px;
        background-image: linear-gradient(rgb(45, 109, 190) 0%, rgb(74, 76, 80) 100%);
    }
    #please-select-which {
        display: block;
        position: relative;
        width: 222px;
        z-index: 20;
        color: rgb(255, 255, 255);
        font-weight: 700;
        font-family: AvenirNext, Lato;
        font-size: 12px;
        direction: ltr;
        margin-left: 85px;
        height: 28px;
        margin-top: 3px;
        top: 5px;
    }
    #sports {
        display: inline-block;
        position: relative;
        width: 74px;
        z-index: 0;
        color: rgb(255, 255, 255);
        font-weight: 700;
        font-family: AvenirNext, Lato;
        font-size: 20px;
        white-space: nowrap;
        direction: ltr;
        height: 24px;
        margin-top: 38px;
        left: -45px;
        top: 5px;
    }
    #rectangle-2-3 {
        display: block;
        position: relative;
        width: 385px;
        z-index: 10;
        box-shadow: rgba(109, 109, 109, 0.953) 0px 1px 4px 0px;
        background-image: linear-gradient(270deg, rgb(146, 137, 137) 0%, rgb(0, 0, 0) 100%);
        margin-left: 15px;
        text-align: left;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    #rectangle-3 {
        display: block;
        position: relative;
        width: 385px;
        z-index: 10;
        box-shadow: rgba(72, 72, 72, 0.953) 0px -1px 0px 0px, rgb(53, 100, 159) 0px 2px 4px 0px;
        background-color: rgb(0, 0, 0);
        overflow: hidden;
        margin-left: 15px;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 7px;
    }
    #group-2 {
        display: block;
        position: relative;
        width: 165px;
        z-index: 10;
        margin-left: 110px;
        text-align: center;
        padding-bottom: 6px;
        top: -3px;
    }
    #rectangle-4 {
        display: block;
        position: absolute;
        top: -3px;
        left: -1px;
        width: 169.094px;
        height: 35.1875px;
        z-index: 10;
    }
    #settings {
        display: block;
        position: relative;
        width: 108px;
        z-index: 20;
        text-shadow: rgb(54, 99, 156) 8px 5px 15px;
        color: rgb(255, 255, 255);
        font-weight: 700;
        font-family: AvenirNext, Lato;
        font-size: 20px;
        white-space: nowrap;
        direction: ltr;
        margin-left: 29px;
        height: 24px;
        margin-top: 3px;
        top: 3px;
    }
    #maice {
        display: inline-block;
        position: relative;
        width: 169px;
        z-index: 20;
        color: rgb(255, 255, 255);
        font-weight: 700;
        font-family: AvenirNext, Lato;
        font-size: 48px;
        white-space: nowrap;
        direction: ltr;
        height: 57px;
        margin-left: 33px;
    }
    #maice_logo {
        display: inline-block;
        position: relative;
        width: 51px;
        height: 65px;
        z-index: 10;
        margin-left: 33px;
    }
    #interests {
        display: block;
        position: relative;
        width: 112px;
        z-index: 10;
        color: rgb(255, 255, 255);
        font-weight: 700;
        font-family: AvenirNext, Lato;
        font-size: 24px;
        white-space: nowrap;
        direction: ltr;
        margin-left: 140px;
        height: 28px;
        top: 5px;
    }
    #movie {
        display: inline-block;
        position: relative;
        width: 72px;
        z-index: 10;
        color: rgb(255, 255, 255);
        font-weight: 700;
        font-family: AvenirNext, Lato;
        font-size: 20px;
        white-space: nowrap;
        direction: ltr;
        height: 24px;
        left: -49px;
        top: 1px;
    }
    #health {
        display: inline-block;
        position: relative;
        width: 76px;
        z-index: 20;
        color: rgb(255, 255, 255);
        font-weight: 700;
        font-family: AvenirNext, Lato;
        font-size: 20px;
        white-space: nowrap;
        direction: ltr;
        height: 24px;
        margin-top: 15px;
        left: -44px;
        top: 1px;
    }
    #gadgets {
        display: inline-block;
        position: relative;
        width: 89px;
        z-index: 30;
        color: rgb(255, 255, 255);
        font-weight: 700;
        font-family: AvenirNext, Lato;
        font-size: 20px;
        white-space: nowrap;
        direction: ltr;
        height: 24px;
        margin-top: 16px;
        margin-left: -47px;
        left: -12px;
        top: 1px;
    }
    #food {
        display: inline-block;
        position: relative;
        width: 60px;
        z-index: 0;
        color: rgb(255, 255, 255);
        font-weight: 700;
        font-family: AvenirNext, Lato;
        font-size: 20px;
        white-space: nowrap;
        direction: ltr;
        height: 24px;
        margin-top: 10px;
        left: -41px;
        top: 1px;
    }
    #rectangle-2-3-section {
        z-index: 90;
        display: inline-block;
        position: relative;
        text-align: center;
        padding-top: 19px;
    }
    #interests-section {
        z-index: 60;
        display: inline-block;
        position: relative;
        text-align: center;
        padding-top: 13px;
    }
    #movie-section {
        z-index: 20;
        display: inline-block;
        position: relative;
        text-align: center;
        padding-top: 15px;
    }
    #rectangle-3-section {
        z-index: 80;
        display: inline-block;
        position: relative;
        text-align: center;
        padding-top: 73px;
        padding-bottom: 19px;
    }
    #rapid_page {}
    #moviecheckbox {
        display: inline-block;
        position: relative;
        width: 23px;
        height: 22px;
        z-index: 60;
        margin-top: 3px;
        margin-left: 4px;
        left: 2px;
        top: 1px;
    }
    #foodcheckbox {
        display: inline-block;
        position: relative;
        width: 30px;
        height: 22px;
        z-index: 40;
        margin-top: 12px;
        margin-left: 8px;
        left: 6px;
        top: 1px;
    }
    #gadgetcheckbox {
        display: inline-block;
        position: relative;
        width: 32px;
        height: 26px;
        z-index: 70;
        margin-top: 15px;
        margin-left: 22px;
        left: 8px;
        top: 5px;
    }
    #healthcheckbox {
        display: inline-block;
        position: relative;
        width: 34px;
        height: 28px;
        z-index: 50;
        margin-top: 17px;
        margin-left: 2px;
        left: 0px;
        top: 1px;
    }
    #sportscheckbox {
        display: inline-block;
        position: relative;
        width: 32px;
        height: 27px;
        z-index: 40;
        margin-top: 40px;
        margin-left: 2px;
        left: 1px;
        top: 5px;
    }
}